# Pydantic and dotfile are used to load configs from
# defaults, environment variables or a env file.
# Copy this file to env and the values for local use.

classic_db_uri=mysql+aiomysql://user:pswd@localhost/arXiv

#JWT_SECRET must match the server where arxiv-auth is running.
JWT_SECRET=1234
