#TODO: Fill in from the mysql server you are using
# Note, no longer using aiomysql
CLASSIC_DB_URI=mysql://rwarxivuser:1234passwd@12.12.12.12:3306/arXiv

#TODO: Fill in from the jwt secret from the arxiv-auth server
JWT_SECRET=arxiv-auth-jwt-secret

ALLOW_EMAILS=False
SMTP_HOST=your.smtp.host.here.arxiv.org

# To get emails that are produced but not sent anywhere
# and that show up in the email log:
# ALLOW_EMAILS=True
# SMTP_HOST=any_totally_fake_smtp_server
# EMAIL_LOG=True
